*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html,body{
    width: 100%;
    height: 100%;
}

nav{
    width: 100%;
    padding: 12px 30px;
    justify-content: space-between;
    background-color: #f3f3f3;
    display: flex;
}

header{
    padding: 3vw;
    background-color: #e3e3e3;
}
