*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,body{
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3f3f3;
    width: 100%;
    padding: 12px 30px ;
}

header{
    padding: 3vw;
    background-color: #e3e3e3; 
}

section{
    width: 100%;
    height: 100vh;
    background-color: rgb(232, 237, 238);
}