*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html , body{
     height: 100%;
     width: 100%;
     
}

#main{
    height: 100%;
    width: 100%;
    background-color: #F8F8F8;
    position: relative;
}

#nav{
    height: 80px;
    width: 100%;
    background-color: red;
}