
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

html , body{
    height: 100%;
    width: 100%;
}

#main
{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

#nav{
    /* background-color: red; */
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

#nav_part1{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 2px;
}
#nav_part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-left: 50%;
}

#nav_part2 h4 {
    font-size: 18px;
    font-weight: 600;
    
    
}

#nav_part2 h4 span{
    color: gray;
    margin-left: 25px;


}

.gola{
    height: 25px;
    width: 25px;
    border-radius: 50px;
    background-color: black;
}

#nav2{
    height: 70px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    gap: 150px;
    padding: 0 50px;
    align-items: center;

}

#nav2 h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

#content{
    height: calc(100% - 150px);
    width: 100%;
    /* background-color: aquamarine; */
}
#text-content{
     height: 40%;
     width: 100%;
     /* background-color: rgb(250, 172, 76); */
     display: flex;
     flex-wrap: nowrap;
     
     overflow-x: auto;
}
#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
    
}
#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
}
.elem{
    flex-shrink: 0;
    height: 100%;
    width: 40%;
    border-radius:2px solid black;
    /* background-color: red; */
    justify-items: center;
    align-content: center;
    
    
}

.elem h1{
    font-size: 170px;
    font-weight: 200;
}

.image-contant{
    height: 60%;
    width: 100%;
    background-color: rebeccapurple;
    display: flex;
    overflow-x: auto;
}
.image-contant::-webkit-scrollbar{
    display: none;
}

.image-contant img{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}