*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html , body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: flex-end;
    /* justify-content: space-between; */
    padding: 0px 90px;
    padding-top: 150px;
    padding-left: 120px;
    padding-right: 120px;
    gap: 90px;
}

#left{
    height: 100%;
    width: 45%;
    /* background-color: red; */
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding-bottom: 50px;
    

}


#left h1{
    margin-top: 80px;
    font-size: 180px;
    font-weight: 500;
    line-height: 190px;
    font-family:sans-serif;
}

#bottom-left{
    /* height: 40%; */
    padding-bottom: 60px;
    width: 100%;
    /* background-color: yellow; */
}

#color{
    /* background-color: blue; */
    width: fit-content;
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 1px solid black ;
    
}

#color h5{
    font-size: 28px;
    margin-right: 12px;
    font-weight: 500;

}
#color1{
    height: 30px;
    width: 30px;
    background-color: burlywood;
    border-radius: 50%;
    margin: 3px;
}

#color2{
    height: 30px;
    width: 30px;
    background-color: rgb(87, 49, 5);
    border-radius: 50%;
}

#left h2{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 40px;
    
}

#left p{
    font-size: 24px;
    width: 70%;
    font-weight: 600;
    color: #444;
    line-height: 30px;

}

#right{
    height: 85%;
    width: 33%;
    /* background-color: blue; */
    position: relative;
}

#right_top{
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

#right_top h4{
    font-size: 33px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

#right_top h5{
    font-size:18px ;
}

#right_top h5 i{
    color: gold;
}

#right img{
    width: 100%;
    height: 88%;
    object-fit: cover;
}

#black-gola{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: rgb(29, 28, 28);
    color:#fff ;
    border-radius: 50%;
    right: -11%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24%;

}

#black-gola  h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;

}

#rotated{
    position: absolute;
    rotate: -90deg;
    transform-origin: 0 0;
    margin-top: -100px;
    margin-left: -70px;
    font-size: 34px;
    font-weight: 600;
    /* background-color: red; */
}